@import '../../styles/vars';
@import '../../styles/mixins';

.article {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  min-height: 100vh;
  padding: 48px 32px 0 32px;
  margin: 0 auto;
}

.article__content {
  flex-grow: 1;
}

.article__content-title {
  @include textOptions($heeboFont, 500, 5.2rem, 6rem, $darkBlueColor);
  text-align: center;
  margin-bottom: 32px;

  @include mobile {
    text-align: left;
  }
}

.article__content-text {
  @include textOptions($ibmFont, 300, 2.4rem, 4.2rem, $blackColor);
  margin-bottom: 24px;
}

.article__content-origin {
  margin-bottom: 40px;
}

.article__content-origin-link {
  @include textOptions($heeboFont, 500, 1.8rem, 2.4rem, $blueColor);

  &:hover {
    color: darken($blueColor, 10%);
  }
}

.article__content-continue {
  margin-bottom: 40px;
}

.article__content-next {
  @include textOptions($heeboFont, 700, 2.4rem, 3.2rem, $blackColor);

  &:hover {
    color: lighten($blackColor, 20%);
  }
}

.article__bread-crumbs {
  margin: 32px 0;
}

.article__bread-crumbs-link {
  @include textOptions($heeboFont, 500, 1.6rem, 2.4rem, $greyColor);

  &:hover {
    color: darken($greyColor, 20%);
  }
}

.article__bread-crumbs-sep {
  margin: 0 8px;
}
