@import '../../styles/vars';
@import '../../styles/mixins';

.document {
  display: flex;
  cursor: pointer;

  &:hover {
    .document__image {
      transform: scale(1.1);
    }

    .document__image-wrapper:before {
      opacity: 1;
      visibility: visible;
    }

    .document__title {
      text-decoration: underline;
    }
  }
}

.document__image-wrapper {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &:before {
    content: "";
    display: block;
    background: rgba(21, 21, 21, 0.6);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    z-index: 1;
  }
}

.document__image {
  width: 228px;
  height: 228px;
}

.document__content {
  width: 375px;
  height: 228px;
  padding: 32px 28px 32px;
  background-color: $whiteColor;
}

.document__title {
  @include textOptions($heeboFont, 400, 26px, 32px, $darkBlueColor);
  margin-bottom: 8px;
}

.document__date {
  @include textOptions($ibmFont, 400, 12px, 20px, $darkBlueColor);
  margin-bottom: 24px;
}

.document__desc {
  @include textOptions($ibmFont, 400, 17px, 32px, $greyColor);
}
