@mixin textOptions($family, $weight, $size, $lineHeight, $color) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  line-height: $lineHeight;
  color: $color;
}

@mixin desktop {
  @media only screen and (min-width: 1300px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 569px) and (max-width: 1299px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: 568px) {
    @content;
  }
}

