@import '../../styles/vars';
@import '../../styles/mixins';

.shell {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $ultraLightGreyColor;

    @include mobile {
        height: calc(100vh + #{$headerHeight});
    }
}

.shell__header {
    @include mobile {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

.shell__main {
    flex-grow: 1;
}
