@import '../../styles/vars';
@import '../../styles/mixins';

.shell {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.shell__main {
    background-color: $lightGreyColor;
    flex-grow: 1;
}
