@import '../../styles/vars';

.shell {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $ultraLightGreyColor;
}

.shell__header {
    position: sticky;
    top: 0;
}

.shell__main {
    flex-grow: 1;
}
