@import '../../styles/vars';
@import '../../styles/mixins';

.articles-list {
}

.articles-list__list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.articles-list__item {
}

.articles-list__group {
  position: relative;
  @include textOptions($heeboFont, 500, 16px, 24px, $whiteColor);
  margin-bottom: 16px;
  padding: 0 32px 0 16px;
  cursor: pointer;

  &--active,
  &:hover {
    color: $turquoiseColor;
  }
}

.articles-list__group-arrow {
  position: absolute;
  top: 2px;
  right: 16px;

  height: 20px !important;
  width: 20px !important;
  transition: all 0.3s ease !important;

  &--active {
    transform: rotate(180deg);
  }
}

.articles-list__article {
  @include textOptions($heeboFont, 400, 16px, 24px, $whiteColor);
  padding: 0 16px;
  margin-bottom: 16px;
  cursor: pointer;

  &--active,
  &:hover {
    color: $turquoiseColor;
  }
}
