@import '~normalize.css/normalize.css';
@import '~reset-css/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    min-width: 320px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
