@import '~normalize.css/normalize.css';

@font-face {
    font-weight: 400;
    font-family: 'Roboto';
    font-style: normal;
    src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-weight: 500;
    font-family: 'Roboto';
    font-style: normal;
    src: url('/assets/fonts/Roboto-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-weight: 700;
    font-family: 'Roboto';
    font-style: normal;
    src: url('/assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-display: swap;
}

html {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
}

body {
    min-width: 512px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
